.header{
    margin: 15% 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__title{
    margin-bottom: 20px;
    font-size: 25px;
  }
  .header__text{
    width: 50%;
    opacity: .7;
  }
  

  .login{
    display: flex;
    flex-direction: column;
    margin: 0 30px;
  }
  .login input{
    padding: 15px 0;
    border: none;
    font-size: 15px;
    margin-bottom: 15px;
  }
  .login input::placeholder{
    color: rgba(0, 0, 0, .3);
  }
  .login input:focus{
    border-color: rgba(0, 0, 0, .4);
  }
  .login input:not([type="submit"]){
    border-bottom: 1px solid rgba(0, 0, 0, .2);
  }
  .login input[type=submit]{
    background-color: var(--yellow);
    cursor: pointer;
    padding: 20px 0;
    border-radius: 3px;
  }
  .login a{
    text-align: center;
    font-size: 15px;
  }