.status-bar {
  display: flex;
  justify-content: space-between;
}

.status-bar__column{
  padding: 5px ;
}

.status-bar__column:first-child span {
  margin-right: 10px;
}
.status-bar__battery{
  color: greenyellow;
}

/* TODO thymeleaf와 같은 템플릿 활용할 수 있다면 적용해보기 */