.status-bar {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: inherit;
}

.status-bar__column {
  padding: 5px;
  top: var(--header-hight);
}

.status-bar__column:first-child span {
  margin-right: 10px;
}
.status-bar__battery {
  color: greenyellow;
}

@keyframes blink {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fa-wifi {
  animation: blink 1.5s ease-in-out infinite;
}
